<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="mssqlconnstr" connectionString="Data Source=localhost;Initial Catalog=wineonlinedb;User ID=test;Password=1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="encryptkey" value="ABCDAEBSA3T32018"/>
    <!-- notice  encryptkey = max 16 ASCII code 需8或16碼,否則加解密會空白-->
    <add key="TimeZone" value="8"/>
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!--mode="SQLServer" sqlConnectionString="data source=localhost;user id=xxx;password=xxx" cookieless="false" -->
    <httpRuntime enableHeaderChecking="true" executionTimeout="3600" maxRequestLength="1024000" requestValidationMode="2.0"/>
    <!-- default timout=110 seconds, maxrequestlength=4096kb(4mb), for user downlaod big size file or text ,requestValidationMode="2.0"-->
    <globalization fileEncoding="utf-8"/>
    <customErrors mode="Off" defaultRedirect="error.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="error.aspx"/>
    </customErrors>
    <!-- mode="On" defaultRedirect="error.htm"
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" defaultLanguage="C#" optimizeCompilations="true" strict="false" explicit="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000"/>
        <!-- 上傳pdf等大檔上限 iis7預設30,000,000 bytes-->
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
      <!--以上打開cache 靜態內容-->
      <!--以下是bootstrap會讀到的字型,不設會導致瀏覽器回傳找不到.woff-->
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".m3u8"/>
      <mimeMap fileExtension=".m3u8" mimeType="application/text"/>
      <remove fileExtension=".yaml"/>
      <mimeMap fileExtension=".yaml" mimeType="application/yaml"/>
      <remove fileExtension="."/>
      <mimeMap fileExtension="." mimeType="application/text"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <remove name="X-Powered-By"/>
        <!--不在header顯示 asp.net字樣, global.asa可設隱其它 server等-->
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/error.aspx" responseMode="ExecuteURL" prefixLanguageFilePath=""/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/error.aspx" responseMode="ExecuteURL" prefixLanguageFilePath=""/>
    </httpErrors>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>